html {
  height: 100%;
}
p {
  margin: 0px;
}
body {
min-height:100%;
margin:20;
display:grid;
grid-template-columns:800px 800px;
grid-template-areas:
  "top" "top"
  "left right"
}

#top {
  grid-area:top;
  margin: 20px
}
#left {
  grid-area:left;
  margin: 20px;
}
#right {
  grid-area:right;
  margin: 20px;
}
